@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans&family=Outfit:wght@100..900&family=Poppins&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #9f0712;
  --color-secondary: rgba(219, 69, 76, 0.95);
  --color-light: #ffe2e2;
}

.login-text {
  /* Default styles (applies to desktop view) */
  left: 45%;
}

/* :root {
  font-family: "Outfit", sans-serif;
} */

/* Styles for mobile view */
@media (max-width: 768px) {
  .login-text {
    left: 30%;
  }
}

.otpForm {
  max-width: 500px;
  margin: 0 auto 0 auto;
}

.bannerImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .bannerImg {
    height: 220px;
    object-fit: cover;
  }
}
/* modal animation  */
.bottomsheet-overlay {
  position: fixed;
  inset: 0;
  z-index: 40;
  background: rgba(0, 0, 0, 0.2); /* Not fully black */
  backdrop-filter: brightness(0.7);
  transition: opacity 0.3s;
}

.bottomsheet-sheet {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  width: 100%;
  max-width: 600px;
  background: #e5e7eb;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  z-index: 50;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  height: 80vh; /* Ensure this matches your modal height */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.bottomsheet-sheet.open {
  transform: translate(-50%, 0%);
}

.close-btn-animate {
  opacity: 0;
  transform: scale(0.8);
  animation: fadeInScale 0.3s 0s forwards;
}
@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
